@charset "utf-8";

body{overflow-x: hidden;}
body, h1, h2, h3, h4, h5, h6, p, ul, li,button,dl,dt,dd,form,fieldset,legend,table,thead,tbody,tfoot,tr,td,th,span,figure{margin:0; padding:0; word-break:keep-all;} 
em,address{font-style:normal;}
ul, li{list-style:none;}
button{border:0;background:none;cursor:pointer;}
button>span{transform: translate(0px, -0.5px);}
*, :after, :before{box-sizing: border-box;text-size-adjust:none;/*ios Ȯ�����*/}
a img{border:0;}
fieldset{border:0;}
legend{display:none;}
body,html,button,select,input,textarea{font-family: 's-core-dream', sans-serif;font-size:15px;font-weight:400;color:#242424; line-height:1.3;letter-spacing: -0.5px;}
a{text-decoration:none;color:#242424;}
iframe{border:0;}
legend{display:none;}
table{width: 100%;table-layout:fixed; margin:0; padding:0; border:0; border-collapse: collapse; border-spacing: 0;}
table caption{position:absolute;width:1px;height:1px;clip:rect(0 0 0 0);overflow:hidden;}
:focus{outline:solid 2px #1c2750;outline-offset:1px}

h1{color:#1c2750}