.slide_wrap{position:relative;width:720px;height:900px;}
.s_list{height:100%}
.s_list li{position:absolute;top:0;left:0;width:100%;height:100%;display:none;}
.s_list li.active{display:block}
.s_list li img{max-width:100%;}

.arr_bx{position:absolute;top:50%;left:0;width:100%;height:45px;z-index:99;}
.arr_bx .arr{position:absolute;left:0;width:45px;height:100%;cursor:pointer;opacity:0.5;background:url(img/arr_prev.png) no-repeat center center;background-size:cover;}
.arr_bx .arr.next{right:0;}
.arr_bx .arr:hover{opacity:1;}